html, body
{
    background-color: #016B61;
    margin: 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

header
{
    text-align: center;
    padding: 30px 0 20px;
    color: white;
}

header h1
{
    margin: 0;
    font-size: 42px;
    font-weight: bold;
}

nav
{
    flex: 1;
    text-align: center;
    margin-right: 50px;
}

nav ul li
{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
}

nav ul li::after
{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffff;
    display: block;
    margin: auto;
    transition: 0.4s;
}

nav ul li:hover::after
{
    width: 100%;
}

.main-card
{
    background-color: #9ECFD4;
    width: 70%;
    margin: 40px auto;
    padding: 30px;
    text-align: center;
    border-radius: 14px;
}

.main-card h2
{
    margin-top: 0;
    font-size: 26px;
}

.headline-text
{
    font-style: italic;
    font-size: 20px;
    margin: 40px auto;
    width: 80%;
}

.btn
{
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 80px:
}

button
{
    background-color: #E5E9C5;
    border: none;
    padding: 9px 45px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
    border-radius: 13px;
}

button:hover {

    background-color: #E3E3E3;
    transition: 0.3s ease-out;
}

.result-bar
{
    width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.result-message
{
    background-color: #7bb8b6;
    padding: 10px 30px;
    font-style: italic;
    font-size: 18px;
    color: white;
    border-radius: 10px;
}

.next-btn
{
    background-color: #f0f3cf;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.article-btn
{
    background-color: #f0f3cf;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.correct-ans
{
    margin-bottom: 30px;
    font-style: italic;
}
.score
{
    margin-top: 30px;
    font-style: italic;
    font-weight:550;
    margin-bottom: 30px;
}

.reset-btn
{
    background-color: #f0f3cf;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}